{% extends 'layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>
            <a href="{{ path('home') }}">
                <img class="img-fluid" src="{{ asset('style/images/xilften.png') }}" alt="">
            </a>
        </h1>
        <h5>&copy; Morgane Cautto & Bastien Weber</h5>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        h1 {
            margin-top: 150px !important;
            text-align: center;
        }

        h5 {
            text-align: center;
        }

        img {
            height: 800px;
            width: 550px;
        }
    </style>
{% endblock %}
