{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">

        <div class="my-4 text-center text-lg-center">
            <img class="img-fluid" src="{{ asset('style/images/xilften.png') }}" alt="">
            <h5>My account</h5>
        </div>
        <br/>
        <div>
            <button class="btn btn-dark btn-block">
                <a href="">My preferences</a>
            </button>
        </div>
        <br/>
        <div>
            <button class="btn btn-dark btn-block">
                <a href="">Look Later</a>
            </button>
        </div>
    </div>
{% endblock %}