{% extends 'layout.html.twig' %}
{% block body %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password </label>
        <input type="password" id="password" name="_password">

        <button type="submit">Log in</button>
    </form>
    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}

    <br/>
    <br/>
    <br/>
    <button>
        <a href="{{ path('register') }}">
            Register
        </a>
    </button>

{% endblock %}
{% block javascripts %}{% endblock %}